[user]
	name = Joe Spilman
	email = joe.spilman@ultrahaptics.com
[push]
	default = current
[commit]
	template = /Users/joe.spilmanATultrahaptics.com/.stCommitMsg
[alias]
	st = status
	co = checkout
	ci = commit -v
	br = branch
	lg = log --graph --cherry-mark --boundary --pretty=tformat:'%C(blue bold)%cd %C(auto)%h%d %s' --date=short
	lga = log --graph --cherry-mark --boundary --pretty=tformat:'%C(blue bold)%cd %C(auto)%h%d %s' --date=short --all
[branch]
	autosetuprebase = always
[pull]
	rebase = true
