[user]
	name = Joe Spilman
	email = jspilman@parallelwireless.com
[push]
	default = current
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	st = status
	co = checkout
	ci = commit -v
	br = branch
	lg = log --graph --cherry-mark --boundary --pretty=tformat:'%C(blue bold)%cd %C(auto)%h%d %s' --date=short
	lga = log --graph --cherry-mark --boundary --pretty=tformat:'%C(blue bold)%cd %C(auto)%h%d %s' --date=short --all
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
	eol = native
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[log]
	date = local
[http]
	sslVerify = false
[url "ssh://git@git.parallelwireless.net:7999/"]
	pushinsteadof = ssh://git@nhbsm01.parallelwireless.net:7999/
